@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-primary: "Montserrat", sans-serif;
    --color-primary: #cac4c4;
    --color-primary-hover: #fdfdfd;
    --color-primary-active: #474344;

    --color0: rgb(0, 0, 7);
    --color1: rgb(0, 0, 8);
    --color2: rgb(0, 0, 9);
    --color3: rgb(0, 0, 10);
    --color4: rgb(0, 0, 11);
    --color5: rgb(0, 0, 12);
    --color6: rgb(0, 0, 13);
    --color7: rgb(0, 0, 14);
    --color8: rgb(0, 0, 15);
    --color9: rgb(0, 0, 16);
    --color10: rgb(0, 0, 17);
    --color11: rgb(0, 0, 18);
    --color12: rgb(0, 0, 19);
    --color13: rgb(0, 0, 20);
    --color14: rgb(0, 0, 21);
    --color15: rgb(0, 0, 22);
    --color16: rgb(0, 0, 23);
    --color17: rgb(0, 0, 24);
    --color18: rgb(0, 0, 25);
    --color19: rgb(0, 0, 26);
    --color20: rgb(0, 0, 27);
    --color21: rgb(0, 0, 28);
    --color22: rgb(0, 0, 29);
    --color23: rgb(0, 0, 30);
    --color24: rgb(0, 0, 31);
    --color25: rgb(0, 0, 32);
    --color26: rgb(0, 0, 33);
    --color27: rgb(0, 0, 34);
    --color28: rgb(0, 0, 35);
    --color29: rgb(0, 0, 36);
    --color30: rgb(0, 0, 37);
    --color-degree0: rgb(0, 2, 17);
    --color-degree1: rgb(0, 2, 18);
    --color-degree2: rgb(0, 2, 19);
    --color-degree3: rgb(0, 2, 20);
    --color-degree4: rgb(0, 2, 21);
    --color-degree5: rgb(0, 2, 22);
    --color-degree6: rgb(0, 2, 23);
    --color-degree7: rgb(0, 2, 24);
    --color-degree8: rgb(0, 2, 25);
    --color-degree9: rgb(0, 2, 26);
    --color-degree10: rgb(0, 2, 27);
    --color-degree11: rgb(0, 2, 28);
    --color-degree12: rgb(0, 2, 29);
    --color-degree13: rgb(0, 2, 30);
    --color-degree14: rgb(0, 2, 31);
    --color-degree15: rgb(0, 2, 32);
    --color-degree16: rgb(0, 2, 33);
    --color-degree17: rgb(0, 2, 34);
    --color-degree18: rgb(0, 2, 35);
    --color-degree19: rgb(0, 2, 36);
    --color-degree20: rgb(0, 2, 37);
    --color-degree21: rgb(0, 2, 38);
    --color-degree22: rgb(0, 2, 39);
    --color-degree23: rgb(0, 2, 40);
    --color-degree24: rgb(0, 2, 41);
    --color-degree25: rgb(0, 2, 42);
    --color-degree26: rgb(0, 2, 43);
    --color-degree27: rgb(0, 2, 44);
    --color-degree28: rgb(0, 2, 45);
    --color-degree29: rgb(0, 2, 46);
    --color-degree30: rgb(0, 2, 47);
}