.expModal__container {
    color: rgb(27, 27, 27);
    width: 500px;
    height: 600px;
    text-align: center;
    position: fixed;
    top: 15%;
    border-top: 10px solid;
    border-left: 10px solid;
    border-bottom: none;
    border-right: none;
    border-color: rgba(255, 255, 255, 0.2);
    background: rgba(209, 209, 209, 0.726);
    z-index: 1;
    border-radius: 10%;
    padding: 40px;
    overflow: auto;
    box-shadow: 20px 20px 50px rgb(0, 0, 0);
    animation: modalOpening 1s ease-in-out;
}

@keyframes modalOpening {
    from {
        opacity: 0;
        top: 100%;
        left: 100%;
        transform: rotateZ(360deg);
    }

    to {
        opacity: 1;
    }
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(31, 31, 31, 0.233);
    backdrop-filter: blur(2px);
    transition: 0.3s;
    z-index: 0;
    display: block;
}

.modalTitle {
    font-size: 2rem;
    font-weight: 700;
    text-align: left;
}

.expDescription {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 70%;
    border: 2px solid rgba(255, 255, 255, 0.288);
    border-radius: 10%;
    padding: 19px;
    gap: 30px;

    .title3 {
        font-size: 1.2rem;
        text-align: justify;
        font-weight: 400;
    }
}